<style>
  /*a { text-decoration: none;
    color:black;}
*/
h1 {
  font - size:50px;
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 10px;
}
  #menu{
    width: 800px;
    height: 40px;
  }
  #menu
{ overflow: hidden;
  background-color: #000;}
#menu a
  {
  text-decoration: none;
  float: left;
  color: red;
  line-height: 30px;
  text-align: center;
}
/*
#menu .link{
  width: 190px;
  text-decoration: none;
  display: block;
  color#fff;
  font-weight: bold;
}
#menu .link:hover{
  background-color: #666;
  color: #ff42e7;
}
  ol {
    width:115px;
    margin : 0;
    padding: 20px;
    }
  #grid{
    display: grid;
    grid-template-columns: 170px 1fr;}
  #grid ol {  padding-left: 30px;}
  #article{
    border-left:2px solid gray;
    margin: 0;
    padding: 15px;
  }

  @media(max-width:750px){
  #grid{
    display: block;}
    #article {border-left: none;}
    */
</style>
