
body {
  margin: 8px;
  font-family: '맑은고딕';
  font-size: 18px;
  height: 100%;
}
a{
  text-decoration: none;
  color: #f0f4f5;
}
li{
  color: black;
}


h2{
  background-color: #00A9E0;
  font-size: 42px;
  margin: 0;
  margin-top: 0;
  padding: 8px;
  padding-bottom: 13px;
  padding-left: 25px;
  color: #f0f4f5
}

h3{
  margin: 0;
  font-size: 15px;
  display: block;
  /*border-top: 3px solid #F57EB6;*/
  background-color: #8DC8E8;
  padding-left: 10px;
}


footer{
  background: #62B5E5;
  font-size: 15px;
  color: #f0f4f5;
  align-items: center;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  margin-right: 8px;
  position: fixed;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#article li{
  font-size: 17px;
  margin-bottom: 5px;
}
#article{
  flex: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black/* #E782A9*/;
  padding: 5px 12px;
}
.navbar__logo{
  font-size: 35px;
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 5px;


}
.navbar__menu li{
    color: #f0f4f5;
  padding: 8px 20px;
  border-radius: 3px;
}
.navbar__menu li:hover{
  background-color: #8DC8E8;
}

.navbar__links {
  list-style: none;
  display: flex;
  margin: 5px;
  padding: 0;
  align-items: flex-end;
}
.navbar__links a{
  padding: 4px 15px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: grey;
}

.sns__instaBtn{
  color: #f0f4f5;

}
.sub__menu{
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: black;
  margin-top: 13px;
  width: 250px;
}


.sub__menu > li{
  list-style-type: none;
}
.sub__menu > li > a{
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
}

.sub__menu{
  width: 100%
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: 1s;
}
.navbar__menu>li:hover .sub__menu{
  height: 200px;
}
@media screen and (max-width: 1110px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li{
    width: 100%;
    text-align: center;
  }
  .navbar__links{
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn{
    display: block;
  }

  .navbar__menu.active,
  .navbar__links.active {
    display: flex;
  }
}
